body {
    display:flex;
    flex-direction: column;
    margin: 0;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

/*HEADER*/
#header{
    background-color: #556f44;
    width: 100%;
    height: 10%;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

    .nav_head{
        color: whitesmoke;
        font-family: "open sans", sans-serif;
        font-size: 22px;
        margin-inline: 30px;
    }
    
    .nav_btn{
        background-color: transparent;
        margin-inline:15px;
        color: whitesmoke;
        font-family: "open sans", sans-serif;
        border: 0;
        font-size: 22px;
    }
    
    .nav_btn1{
        background-color: #95BF74;
        border-radius: 50px;
        margin-inline: 15px;
        color: #283f3b;
        font-family: "open sans", sans-serif;
        width: 125px;
        height: 60px;
        border: 0px;
    }
    
    .nav_btn1:hover{
        color: #283f3b;
        font-family: "open sans", sans-serif;
        background-color: #99DDC8;
    }
    
    .nav_btn2{
        background-color: #99DDC8;
        border-radius: 50px;
        margin-inline: 15px;
        color: #283f3b;
        font-family: "open sans", sans-serif;
        width: 125px;
        height: 60px;
        border: 0px;
    }
    
    .nav_btn2:hover{
        color: #283f3b;
        font-family: "open sans", sans-serif;
        background-color: #95BF74;
    }
    
    .logo{
        width: auto;
        height: 75px;
    }

/*Job Listings*/
.job-lists {
    display: flex; 
    border: 1px solid black;
    width: 1200px;
    height: auto;
    margin: 3% 10% 3% 10%;
}

.lists {
    flex: 1; 
    border-right: 1px solid black;
    display: flex;
    padding: 30px 0px;
    flex-direction: column; 
}

.ind-list {
    border: 1px solid black;
    margin: 10px 40px;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.company {
    flex:1;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center; 

}
.company-logo {
    border: 1px solid black;
    border-radius: 30px;
    max-width: 70%;

}

.job-summary {
    flex:2;
    padding: 15px;
}

.job-summary > p {
    margin: 3px;
}

.location {
    margin-top: 10px;
}

.description {
    flex: 1;
    padding: 20px;
    display: block;
    flex-direction: column;
}

.job-header {
    flex: 1;
    margin: 10px;
    margin-bottom: 60px;
}

.job-details {
    flex: 4;
    margin: 10px;
    padding: 15px;
    border: 1px solid black;
    text-align: justify;
}



